logging:
  config: classpath:log4j2.xml
consumer:
  work-time: 100
spring:
  main:
    web-application-type: NONE
  rabbitmq:
    listener:
      simple:
       # acknowledge-mode: manual
        retry:
          enabled: true
          initial-interval: 10s
          max-attempts: 5
          max-interval: 10s
          multiplier: 10

jms:
  rabbit-mq:
    host: "localhost"
    port: 5672
    virtual-host: "user"
    username: "user"
    password: "user"
    exchange-input-name: "exchangeInput"
    exchange-output-name: "exchangeOutput"
    queue-input-name: "inputQueue"
    queue-output-name: "outputQueue"